<app-header></app-header>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Year</th>
        <th scope="col">Volume</th>
        <th scope="col">Cost</th>
        <th scope="col">Type</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let motoCycle of motolist$ | async">
        <tr>
            <td>{{motoCycle.id}}</td>
            <td>{{motoCycle.name}}</td>
            <td>{{motoCycle.year}}</td>
            <td>{{motoCycle.volume}}</td>
            <td>{{motoCycle.cost}}</td>
            <td>{{motoCycle.type}}</td>
            <td><button type="button" class="btn btn-warning" (click)="onEditMotoAdvert(motoCycle.id)">Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click)="onDeleteMotoAdvert(motoCycle.id)">Delete</button></td>
        </tr>
        <tr [formGroup]="editMotoFormModel" autocomplete="off" *ngIf="show && MotoCycleId===motoCycle.id">
          <td>
          <div class="form">
          <input type="number" class="form-control" formControlName="Id">
          </div>
        </td>
        <td>
          <div class="form">
          <input type="text" class="form-control" formControlName="Name">
          </div>
        </td>
        <td>
          <div class="form">
          <input type="number" class="form-control" formControlName="Year">
          </div>
        </td>
        <td>
          <div class="form">
          <input type="number" class="form-control" formControlName="Volume">
          </div>
        </td>
        <td>
          <div class="form">
          <input type="number" class="form-control" formControlName="Cost">
          </div>
        </td>
        <td>
          <div class="form">
          <input type="number" class="form-control" formControlName="Type">
          </div>
        </td>
        <td>
          <button class="btn btn-success" (click)="onUpdate(motoCycle.id)">Submit</button>
        </td>
        </tr>
    </tbody>
</table>

